.SignupPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.SignupPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
}

.SignupPage .ant-card {
  width: 400px;
}

.SignupPage .ant-form-item-label {
  font-size: 16px;
  font-weight: bold;
}

.SignupPage .ant-input {
  width: 250px;
}

.SignupPage .ant-btn {
  margin-top: 10px;
  background-color: white;
  color: black;
}

.SignupPage .error-message {
  color: red;
  margin-top: 10px;
}

.SignupPage p {
  font-size: 16px;
  margin-top: 10px;
  color: white;
}

.SignupPage a {
  color: white;
}
